<%- model_class = DataFile -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:file) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @data_files.each do |data_file| %>
      <tr>
        <td><%= link_to data_file.id, data_file_path(data_file) %></td>
        <td><%= data_file.file %></td>
        <td><%= data_file.status %></td>
        <td><%=l data_file.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @data_files %>

<%= link_to t('.new', default: t("helpers.links.new")), new_data_file_path, class: 'btn btn-primary pull-right' %>
