<%- model_class = DataFile -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:file) %>:</strong></dt>
  <dd><%= @data_file.file %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @data_file.status %></dd>

</dl>

<% if @data_file.success? %>
  <div class="page-header">
    <h3><%=t '.title', default: Input.model_name.human.titleize %></h1>
    <%= render partial: 'inputs/table', locals: { inputs: @data_file.inputs } %>
  </div>
<% end %>

<%= link_to t('.back', default: t("helpers.links.back")), data_files_path, class: 'btn btn-default'  %>
